{% extends '::base.html.twig' %}

{% block body -%}
    <ol class="breadcrumb">
        {% include 'cjohnsonContentManagementSystemBundle:Admin:breadcrumbDropdown.html.twig' %}
        <li><a href="{{ path('admin_image') }}">Images</a></li>
        <li class="active">Image: New!</li>
    </ol><h1>Image creation</h1>

    {{ form(form) }}


    <a class="btn btn-default" href="{{ path('admin_image') }}">
        <span class="glyphicon glyphicon-arrow-left"></span> Back to the list
    </a>

{% endblock %}